@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

b {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover);
  }
}
