:root {
  --color-background: #ffffff;
  --color-background-soft: #f8f8f8;
  --color-background-mute: #f2f2f2;

  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);

  --color-heading: #2c3e50;
  --color-text: #2c3e50;

  --color-link: hsla(160, 100%, 37%, 1);
  --color-link-hover: hsla(160, 100%, 37%, 0.2);

  --section-gap: 160px;

  --color-theme-green: #1ab180;
  --color-theme-green-transparent: rgba(26, 177, 128, 0.2);
  --color-theme-coral: #ea564f;
  --color-theme-turquoise: #009dcc;
  --color-theme-turquoise-transparent: rgba(0, 157, 204, 0.8);
  --color-theme-blue: #005176;
  --color-theme-blue-transparent: rgba(0, 81, 118, 0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-theme-green);
  transition: 0.4s;
}

b {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-theme-green-transparent);
  }
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'uzk content nachhaltigkeit';
  @media (max-width: 600px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      'uzk nachhaltigkeit'
      'content content';
  }
}

.header-content {
  text-align: center;
  font-size: x-large;
  grid-area: content;
}

.header-uzk {
  grid-area: uzk;
}

.header-uzk a:hover {
  background: rgba(0, 0, 0, 0);
}

.header-nachhaltigkeit {
  grid-area: nachhaltigkeit;
}

.logo {
  display: block;
  max-width: 15.625em;
  @media (max-width: 600px) {
    max-width: 8em;
  }
}

nav {
  width: 100%;
  text-align: center;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60vh;
  grid-template-areas: 'filter map';
  @media (max-width: 600px) {
    height: 90vh;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      'filter'
      'map';
  }
}

.grid-item-filter {
  grid-area: filter;
  @media (max-width: 600px) {
    font-size: 12px;
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 10%;
  }
}

.grid-item-map {
  grid-area: map;
}

.filter {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-theme-blue);
  background-color: var(--color-theme-turquoise-transparent);
  color: white;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-selected {
  background-color: var(--color-theme-blue);
  font-weight: bold;
}

.navigation {
  margin-top: 1em;
  margin-bottom: 50px;
  font-size: 16px;
}

.grid-button-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 10% 90%;
  grid-template-areas: 'icon text';
  height: fit-content;
}

.grid-button-icon {
  grid-area: icon;
  @media (max-width: 600px) {
    margin: -5px;
    width: 30px;
  }
}
.grid-button-text {
  grid-area: text;
}

.filter-reset {
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  color: var(--color-theme-green);
  &:hover {
    font-weight: bold;
  }
  @media (max-width: 600px) {
    margin-top: 0px;
  }
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.about {
  padding-left: 10%;
  padding-right: 10%;
}

.todo {
  color: var(--color-theme-coral);
}

.popup-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: 'left right';
  @media (max-width: 600px) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas:
      'left'
      'right';
  }
}

.popup-grid-left {
  grid-area: left;
}
.popup-grid-right {
  grid-area: right;
  padding-left: 20%;
  align-content: center;
  margin: 1em;
  border-left: 0.1em inset;
  @media (max-width: 600px) {
    padding-left: 0px;
    margin: 0em;
    border-left: 0em;
    border-top: 0.1em inset;
  }
}

.leaflet-popup-content {
  @media (max-width: 600px) {
    width: 200px;
  }
}

h3 {
  padding-bottom: 2%;
  img {
    vertical-align: bottom;
    padding-right: 5px;
  }
}

.horizontal {
  margin-bottom: 2%;
}
